/* ====================
  Typography
==================== */
@use "../utils/variables" as *;

html,
body {
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.3;
  color: $pure-black;
}
