/* ====================
  Variables
==================== */

// Font Family
$font-primary: "Montserrat", sans-serif;

// Color
$pure-black: #000;
$light-black: #484848;
$pure-white: #fff;
$gray: #eff0f2;

// Box Shadow

// Linear Gradient
