/* ====================
  Logo
==================== */
@use "../utils/variables" as *;

.logo__image {
  // height: 45px;
  // width: 110px;
}

.logo {
  text-decoration: none;
}

.logo p {
  font-size: 2.2rem;
  font-weight: 900;
  color: $light-black;
}
